---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<script src={{ "/js/jquery.min.js" | prepend: site.baseurl }}></script>
<body>
<header>
<div id="mySidenav1" class="sidenav1">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav(1)">&times;</a>

  {% include menu-links1.html %}
</div>

<!-- Use any element to open the sidenav -->
<span id="slid1" onclick="openNav(1)"><i class="fa fa-align-left" aria-hidden="true"></i></span>


<div id="mySidenav2" class="sidenav2">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav(2)">&times;</a>

  {% include menu-links2.html %}
</div>

<!-- Use any element to open the sidenav -->
<span id="slid2" onclick="openNav(2)"><i class="fa fa-align-right" aria-hidden="true"></i></span>

<a href="{{site.baseurl}}/">
  <h1 class="header-title">{{site.title}}
    <!--<i class="fa fa-sun-o" aria-hidden="true"></i>-->
  </h1>
</a>

<h2 class="header-tagline">{{site.description}}</h2>
</header>
<div id="main">

{{content}}

{% include footer.html %}

</div>
<script>
function openNav(mode) {
  if (mode == 1) {
    document.getElementById("mySidenav1").style.width = "250px";
  } else {
    document.getElementById("mySidenav2").style.width = "85px";
  }
}
function closeNav(mode) {
  if (mode == 1) {
    document.getElementById("mySidenav1").style.width = "0";
  } else {
    document.getElementById("mySidenav2").style.width = "0";
  }
}
</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
{% include analytics.html %}
</body>
</html>
